/*Begin your code here*/
/*Requirement 1*/
body{
    margin: 0;
    padding: 0;
    font-size: 16pt;
    font-family: "Noto Sans JP", sans-serif;
    background: #bbd9e64f;
/*     background-color: rgba(194, 194, 194);
 */    /* background-image: url(http://www.transparenttextures.com/patterns/light-gray.png); */
    box-sizing: border-box;
    height: 100%;
  }

  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    margin: 20px;
  }
  
  p {
    padding: 30px 30px;
    text-align: center;
    line-height: normal;
  }

  .skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
  }

  .skip-to-content-link {
    background: #ffffff;
    height: 30px;
    left: 20%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

  #navposition{
      font-weight: bold;
      background-color: #bbd9e6;
      font-size: 18pt;
  }

  .nav_item a:hover, a:focus{
    color: #000000;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .nav_links{
    width:100%;
  }

  *:focus{
    border: 2px solid rgb(0, 0, 0);
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  header{
    background: #caeaf7;
    border-bottom: 3px solid #9ab6c1 ;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer{
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
  }
  
  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
  }

  .nav_item a{
    color: black;
    text-decoration: none;
  }
  
  #logo{
    display: block;
    width: 75px;
  }

  .fade-in-text h1{
    font-size: 36pt;
  }
  .fade-in-text h2{
    font-size: 20pt;
    text-decoration: none;
    margin-bottom: 50px;
  }

  .fade-in-text {
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .hobbies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
  }

  .hobbies > img{
    border: 7.5px #9ab6c1 solid;
    margin: 10px;
    width: 200px;
    box-shadow: 10px 10px #c9d1d4;
  }

  .hobbies h2 {
    margin-top: 40px;
}

  .hobbies h3 {
      margin-right: auto;
      margin-left: auto;
      padding-top: 30px;
  }

  .fun_fact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    margin-bottom: 30px;
  }

  .fun_fact > div {
    margin: 10px;
  }

  .fun_fact p {
    text-align: center;
    font-size: 25pt;
  }

  .flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card.focus-within .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #9ab6c1;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(18, 36, 48);
    color: white;
    transform: rotateY(180deg);
  }

  .family h2, .friends h2{
      font-size: 50px;
      padding-top: 20px;
  }
  .family p, .friends p{
      line-height: normal;
      font-size: 15px;
  }

  .familyimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .familyimages > img{
    border: 7.5px #9ab6c1 solid;
    margin: 10px;
    width: 250px;
    box-shadow: 10px 10px #c9d1d4;
  }

  .friendimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .friendimages > img{
    border: 7.5px #9ab6c1 solid;
    margin: 10px;
    width: 250px;
    box-shadow: 10px 10px #c9d1d4;
  }

  /*schoollife code*/
  .container {
    display: grid;
    grid-template-columns: [image-start] 1fr [image-end];
    grid-template-rows: [image-start] 10vw auto auto auto 10vw [image-end];
    grid-template-areas: '....'
                         'headline'
                         'text'
                         'button'
                         '....';
    text-align: center;
    background-color: #333;
    color: white;
    margin: 2rem 1rem;

  }

  .container p{
    line-height: 1.4em;
    margin-bottom: .75em;
    font-size: 14px;
  }

  .activity__headline {
    grid-area: headline;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: end;
    font-size: 2rem;
    margin-bottom: .5em;
  }
  .activity__text {
    grid-area: text;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
  } 
  .blueprints__button, .pct__button, .mecc__button, .clubt__button, .ted__button {
    grid-area: button;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 1;
    color: #3f4a4e;
    font-size: 1rem;
  }

  .activity__image {
    grid-area: image;
    z-index: 0;
    mix-blend-mode: overlay;
    align-self: stretch;
    object-fit: cover;
    max-width: 100%;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #9ab6c1;
  }
  
  .contact_container {
    border-radius: 5px;
    padding: 20px;
  }

  .socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 20px;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #9ab6c1;
    color: white;
    margin: 20px;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 20px;
  }

  @media (min-width: 640px) and (max-width: 1025px) {
    .parallax {
      /* The image used */
      background-image: url(../images/umich.jpeg);
      background-size: 100% 100%;
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      height:300px;
      font-size:36px
    }

    .parallax2{
      /* The image used */
      background-image: url(../images/forestbackground.jpeg);
      background-size: 100% 100%;
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      height:300px;
      font-size:36px
    }
  
    .fun_fact > div {
      margin: 10px;
    }

    .container {
      background: transparent;
      color: black;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: '........ image'
                             'headline image'
                             'text     image'
                             'button   image'
                             '........ image';
        grid-column-gap: 20px;
        text-align: center;
    }
}

@media (min-width: 1025px) {

    /* body { 
      background: pink;
      z-index: -1;
    }  */

    header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /*Your code here again.*/  
    }

    .nav_links{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
    }

    .nav_item{
      padding: 0px 20px;
    }

    .hobbies{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 200px;
    }

    .fade-in-text {
      font-size: 30pt;
      text-align: center;
      justify-content: center;
    }
    .fade-in-text h2{
      font-size: 30pt;
      margin-bottom: 50px;
    }

    .fun_fact {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 200px;
      justify-content: space-between;
      margin: 70px;
    }

    .flip-card.focus-within .flip-card-inner{
      transform: rotateY(180deg);
    }
  
    .parallax {
      /* The image used */
      background-image: url(../images/umich.jpeg);
      background-size: 100% 100%;
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      height:300px;
      font-size:36px
    }

    .parallax2{
      /* The image used */
      background-image: url(../images/forestbackground.jpeg);
      background-size: 100% 100%;
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      height:300px;
      font-size:36px
    }

    .activities {
        width: 95vw;
        margin: auto;
    }
    .container {
      background: transparent;
      color: black;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: '........ image'
                             'headline image'
                             'text     image'
                             'button   image'
                             '........ image';
        grid-column-gap: 5px;
        text-align: center;
    }

    .container p {
      font-size: 18px;
    }
    .activity__image {
      object-fit: contain;
      position: static;
      z-index: 1;
      mix-blend-mode: initial;
      max-width: 80%;
      height: 600px;
  }      

}
 
  /*Requirement 12*/
  /*Add media query to handle reduced-motion*/
  /*Your code here again.*/ 
  @media (prefers-reduced-motion: reduce) {
    .fade-in-text {
      animation: none;
    }
    .parallax {
      /* The image used */
      background-image: none;
    }

    .parallax2{
      /* The image used */
      background-image: none;
    }

    .flip-card-inner {
        transition: transform none;
    }
  }
  
   
  
  
